In [19]:
import pandas as pd
df = pd.read_csv("/Users/krc/hyeongJin/데이터원본파일/원본통합.csv",encoding='utf-8')
location = pd.read_csv('/Users/krc/hyeongJin/project-template/database/HyeongJin/상권행정동추가.csv',encoding='utf-8')

In [3]:
df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [66]:
df_sales = df[['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수','점포수']]

In [67]:
df_sales = df_sales[df_sales['상권_구분_코드_명'] != '관광특구']

In [68]:
df_sales = df_sales[df_sales['기준_년_코드'] != 2017]

In [69]:
df_sales

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,점포수
166587,2021,2,R,전통시장,1001490,길동복조리시장,CS300035,인테리어,38015377.0,2484,4
166588,2021,2,R,전통시장,1001490,길동복조리시장,CS300029,애완동물,8544694.0,460,1
166589,2021,2,R,전통시장,1001490,길동복조리시장,CS300028,화초,183304653.0,6800,4
166590,2021,2,R,전통시장,1001490,길동복조리시장,CS300027,섬유제품,97268580.0,1573,6
166591,2021,2,R,전통시장,1001490,길동복조리시장,CS300022,화장품,749922143.0,39840,5
...,...,...,...,...,...,...,...,...,...,...,...
661608,2019,4,R,전통시장,1001469,양재시장,CS300011,일반의류,14282341.0,48,2
661609,2019,4,A,골목상권,1000181,망우로21길,CS100004,양식음식점,562291801.0,23923,2
661610,2019,4,A,골목상권,1000441,세무서2길,CS300002,편의점,518371562.0,81848,2
661611,2019,4,D,발달상권,1001044,양재역_3,CS200001,일반교습학원,15509601.0,56,6
661612,2019,4,A,골목상권,1000736,노량진로6길,CS300002,편의점,218997663.0,32143,2

In [70]:
location

        상권_코드       상권_코드_명  시군구_코드 시군구명    행정동_코드     법정동
0     1001453         낙성대시장   11620  관악구  11620585    낙성대동
1     1000799     남부순환로234길   11620  관악구  11620585    낙성대동
2     1000780        관악로10길   11620  관악구  11620585    낙성대동
3     1000781        관악로14길   11620  관악구  11620585    낙성대동
4     1001454      봉천제일종합시장   11620  관악구  11620595     청룡동
...       ...           ...     ...  ...       ...     ...
3575  1001258    등나무근린공원 주변   11350  노원구  11350625  중계2.3동
3576  1001261  서울 노원구 노원역_1   11350  노원구  11350695  상계6.7동
3577  1001262  서울 노원구 노원역_2   11350  노원구  11350695  상계6.7동
3578  1000378        공릉로58길   11350  노원구  11350611    하계1동
3579  1000381       동일로242길   11350  노원구  11350630    상계1동

[3580 rows x 6 columns]

In [71]:
sales_mer = pd.merge(df_sales,location,on='상권_코드').drop_duplicates().reset_index()

In [72]:
sales_mer.columns

Index(['index', '기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드',
       '상권_코드_명_x', '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수',
       '점포수', '상권_코드_명_y', '시군구_코드', '시군구명', '행정동_코드', '법정동'],
      dtype='object')

In [73]:
sales_mer = sales_mer[['기준_년_코드', '기준_분기_코드','시군구명','법정동','상권_코드_명_x','서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '점포수']]

In [74]:
sales_mer.columns = ['기준년코드','기준분기코드','구명','행정동명','상권코드명','서비스업종명','분기당매출금액','분기당매출건수','점포수']

In [75]:
sales_mer

        기준년코드  기준분기코드   구명   행정동명    상권코드명 서비스업종명      분기당매출금액  분기당매출건수  점포수
0        2021       2  강동구     길동  길동복조리시장   인테리어   38015377.0     2484    4
1        2021       2  강동구     길동  길동복조리시장   애완동물    8544694.0      460    1
2        2021       2  강동구     길동  길동복조리시장     화초  183304653.0     6800    4
3        2021       2  강동구     길동  길동복조리시장   섬유제품   97268580.0     1573    6
4        2021       2  강동구     길동  길동복조리시장    화장품  749922143.0    39840    5
...       ...     ...  ...    ...      ...    ...          ...      ...  ...
491114   2019       4  성북구  장위제3동     번동시장  분식전문점     711001.0       14    1
491115   2018       1  금천구  독산제3동    푸른터시장     문구  126513305.0     2304    0
491116   2018       2  금천구  독산제3동    푸른터시장     문구  144351682.0     2169    0
491117   2018       3  금천구  독산제3동    푸른터시장     문구   84958203.0     1220    0
491118   2018       4  금천구  독산제3동    푸른터시장     문구   22817578.0      271    0

[491119 rows x 9 columns]

In [76]:
sales_mer = sales_mer[sales_mer['점포수']!=0]
sales_mer['년도'] = (sales_mer['기준년코드'].astype(str)) + 'Y' + (sales_mer['기준분기코드'].astype(str)) + 'Q'

/var/folders/_d/fzkt8v5d0192yvxwj9tjrfj40000gn/T/ipykernel_5235/1865350329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_mer['년도'] = (sales_mer['기준년코드'].astype(str)) + 'Y' + (sales_mer['기준분기코드'].astype(str)) + 'Q'

In [77]:
sales_mer = sales_mer[['년도','구명','행정동명','상권코드명','서비스업종명','분기당매출금액','분기당매출건수','점포수']]
sales_mer

             년도   구명   행정동명    상권코드명 서비스업종명      분기당매출금액  분기당매출건수  점포수
0       2021Y2Q  강동구     길동  길동복조리시장   인테리어   38015377.0     2484    4
1       2021Y2Q  강동구     길동  길동복조리시장   애완동물    8544694.0      460    1
2       2021Y2Q  강동구     길동  길동복조리시장     화초  183304653.0     6800    4
3       2021Y2Q  강동구     길동  길동복조리시장   섬유제품   97268580.0     1573    6
4       2021Y2Q  강동구     길동  길동복조리시장    화장품  749922143.0    39840    5
...         ...  ...    ...      ...    ...          ...      ...  ...
491110  2018Y4Q  성북구  장위제3동     번동시장  분식전문점    1344513.0       81    1
491111  2019Y1Q  성북구  장위제3동     번동시장  분식전문점     615016.0        7    1
491112  2019Y2Q  성북구  장위제3동     번동시장  분식전문점    1454709.0       49    1
491113  2019Y3Q  성북구  장위제3동     번동시장  분식전문점    1894108.0       42    1
491114  2019Y4Q  성북구  장위제3동     번동시장  분식전문점     711001.0       14    1

[483905 rows x 8 columns]

In [78]:
sales = sales_mer.groupby(['년도','구명','행정동명','서비스업종명'],as_index=False)['분기당매출금액','분기당매출건수','점포수'].sum()
sales

/var/folders/_d/fzkt8v5d0192yvxwj9tjrfj40000gn/T/ipykernel_5235/3882212796.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales = sales_mer.groupby(['년도','구명','행정동명','서비스업종명'],as_index=False)['분기당매출금액','분기당매출건수','점포수'].sum()

             년도   구명   행정동명   서비스업종명       분기당매출금액  분기당매출건수  점포수
0       2018Y1Q  강남구   개포2동      고시원  2.530462e+07      139    1
1       2018Y1Q  강남구   개포2동    골프연습장  2.753962e+07       65    4
2       2018Y1Q  강남구   개포2동      네일숍  1.199748e+07      161    2
3       2018Y1Q  강남구   개포2동      노래방  1.232571e+08     4167    8
4       2018Y1Q  강남구   개포2동      당구장  2.775472e+07     1897    4
...         ...  ...    ...      ...           ...      ...  ...
217754  2021Y2Q  중랑구  중화제2동    한식음식점  4.188139e+09   133032  120
217755  2021Y2Q  중랑구  중화제2동      한의원  2.713724e+08     5308    6
217756  2021Y2Q  중랑구  중화제2동      핸드폰  7.129369e+06      707    3
217757  2021Y2Q  중랑구  중화제2동  호프-간이주점  5.336293e+08    14982   46
217758  2021Y2Q  중랑구  중화제2동      화장품  9.954580e+08    14484   30

[217759 rows x 7 columns]

In [94]:
sales = sales[~sales['년도'].str.contains('2018')]

In [96]:
sales = sales.astype({'분기당매출금액':int})

In [97]:
sales['점포당평균매출액'] = (sales['분기당매출금액']/sales['점포수']).astype(int)

In [98]:
sales

             년도   구명   행정동명   서비스업종명     분기당매출금액  분기당매출건수  점포수  점포당평균매출액
69304   2019Y1Q  강남구   개포2동      고시원    45063026      139    1  45063026
69305   2019Y1Q  강남구   개포2동    골프연습장     6861702        6    1   6861702
69306   2019Y1Q  강남구   개포2동      네일숍     2315604       48    1   2315604
69307   2019Y1Q  강남구   개포2동      노래방    98091691     2887    8  12261461
69308   2019Y1Q  강남구   개포2동      당구장    14566425     1156    5   2913285
...         ...  ...    ...      ...         ...      ...  ...       ...
217754  2021Y2Q  중랑구  중화제2동    한식음식점  4188139166   133032  120  34901159
217755  2021Y2Q  중랑구  중화제2동      한의원   271372403     5308    6  45228733
217756  2021Y2Q  중랑구  중화제2동      핸드폰     7129369      707    3   2376456
217757  2021Y2Q  중랑구  중화제2동  호프-간이주점   533629256    14982   46  11600636
217758  2021Y2Q  중랑구  중화제2동      화장품   995458036    14484   30  33181934

[148455 rows x 8 columns]

In [99]:
sales.to_csv('./1201.csv',encoding='utf-8-sig',index=False)

In [92]:
sales.dtypes

년도          object
구명          object
행정동명        object
서비스업종명      object
분기당매출금액      int64
분기당매출건수      int64
점포수          int64
점포당평균매출액     int64
dtype: object